.list_add {
    width: 800px;
    /* background-color: burlywood; */
    height: 500px;
    margin: auto;
    display: flex;
}

.div_input {
    /* display: flex;
    justify-content: space-around; */
    display: grid;
    margin-left: 50px;
}

.button {
    background: linear-gradient(#ff99cc, #33ccff)
}

.form_container {
    display: flex;
}

.div_button {
    display: flex;
    justify-content: space-around;
}

@media screen and (min-width: 395px) and (max-width:414px) {
    .list_add {
        width: 400px;
        height: 500px;
        margin: auto;
        /* display: flex; */
    }

    .form_container {
        display: block;
    }

    .div_button {
        height: 150px;
        display: grid;
        width: 400px;
    }

    .div_input {
        margin-left: 0px;
    }

}

@media screen and (max-width: 375px) and (min-width: 360px) {
    .list_add {
        width: 345px;
        height: 500px;
        margin: auto;
        /* display: flex; */
    }

    .form_container {
        display: block;
    }

    .div_button {
        height: 150px;
        display: grid;
        width: 345px;
    }

    .div_input {
        margin-left: 0px;
    }
}

@media screen and (max-width: 320px) and (min-width: 310px) {
    .list_add {
        width: 360px;
        height: 500px;
        margin: auto;
        /* display: flex; */
    }

    .form_container {
        display: block;
    }

    .div_button {
        height: 150px;
        display: grid;
        width: 360px;
    }

    .div_input {
        margin-left: 0px;
    }
}

@media screen and (max-width: 390px) and (min-width:380px) {}

@media screen and (max-width: 395px) and (min-width:390px) {
    .list_add {
        width: 370px;
        height: 500px;
        margin: auto;
        /* display: flex; */
    }

    .form_container {
        display: block;
    }

    .div_button {
        height: 150px;
        display: grid;
        width: 370px;
    }

    .div_input {
        margin-left: 0px;
    }
}

@media screen and (max-width:825px) and (min-width:800px) {
    .list_add {
        width: 760x;
        height: 500px;
        /* margin: auto; */
        /* display: flex; */
    }

    .form_container {
        width: 770px;
    }
}

@media screen and (max-width:280px) and (min-width:260px) {
    .list_add {
        width: 270px;
        height: 500px;
        margin: auto;
        /* display: flex; */
    }

    .form_container {
        display: block;
    }

    .div_button {
        height: 150px;
        display: grid;
        width: 270px;
    }

    .div_input {
        margin-left: 0px;
    }
}