body {
  background-color: #fafafa;
}

.box {

  background-color: #fff;
}

.FormPage {
  width: 500px;
  height: 400px;
  margin-top: 100px;
  margin-left: 450px;
  box-shadow: 1px 1px 8px 10px #888888;
}
.form_h2{
  height: 50px;
  display: flex;
  margin-top: 20px;
  justify-content: space-evenly;
}
.form_input {
  height: 50px;
  display: flex;
  /* background-color: blue; */
  justify-content: center;
}
.form_text{
  display: flex;
  justify-content: center;
}
.button_submit {
  width: 500px;
  height: 50px;
  display: flex;
  justify-content: center;
  /* background-color: aqua; */
}

/* Iphone 12 */
@media screen and (max-width: 390px) {
  .FormPage {
    width: 250px;
    height: 400px;
    margin: auto;
    margin-top: 100px;
  }
  .button_submit{
    display: flex;
    width: 250px;
    justify-content: center;
  }
}