body {
  background-color: #fafafa;
}

.box {

  background-color: #fff;
}

.FormPage {
  width: 500px;
  height: 385px;
  margin-top: 100px;
  margin-left: 450px;
  box-shadow: 1px 2px 10px 1px #888888;
}

.form_h2 {
  height: 50px;
  display: flex;
  margin-top: 20px;
  justify-content: space-evenly;
}

.form_input {
  height: 50px;
  display: flex;
  /* background-color: blue; */
  justify-content: center;
}

.form_text {
  display: flex;
  justify-content: center;
}

.button_submit {
  width: 500px;
  height: 50px;
  display: flex;
  justify-content: center;
  /* background-color: aqua; */
}
/* Iphone 12 Pro */
@media screen and (max-width:375px) 
{
  .FormPage {
    width: 300px;
    height: 400px;
    margin: auto;
    margin-top: 120px;    
  }
  .button_submit {
    display: flex;
    width: 300px;
    justify-content: center;
  }
  .error_mes{
    margin-left: 20px;
  }
}
@media screen and (min-width: 390px)
and (max-width:414px)
{
  .FormPage {
    width: 350px;
    height: 400px;
    margin: auto;
    margin-top: 100px;
  }
  .button_submit {
    display: flex;
    width: 350px;
    justify-content: center;
  }
  .error_mes{
    margin-left: 20px;
  }
}
@media screen and (min-width: 768px)
and  (max-width: 820px){
  .FormPage {
    width: 700px;
    height: 400px;
    margin: auto;
    margin-top: 100px;
  }
  .button_submit {
    display: flex;
    width: 700px;
    justify-content: center;
  }
  .error_mes{
    margin-left: 20px;
  }
}
@media screen and (min-width: 665px)
and  (max-width: 667px) {
  .FormPage {
    width: 500px;
    height: 400px;
    margin: auto;
    /* margin-top: 50px; */
  }
}
@media screen and (min-width: 810px)
and  (max-width: 1200px) {
  .FormPage {
    width: 700px;
    height: 400px;
    margin: auto;
    margin-top: 10px;
    /* margin-top: 50px; */
  }
  .button_submit {
    display: flex;
    width: 700px;
    justify-content: center;
  }
}
@media screen and (min-width: 500px)
and  (max-width: 750px)
{
  .FormPage {
    width: 400px;
    height: 400px;
    margin: auto;
    margin-top: 10px;
    /* margin-top: 50px; */
  }
  .button_submit {
    display: flex;
    width: 400px;
    justify-content: center;
  }
}