.gridview {
    background-color: white;
    padding-top: 10px;
    width: 950px;
    margin: auto;
    height: 500px;
    /* display: flex; */
    height: 241px;
    justify-content: space-around;
}

.card_sv {
    width: 415px;
    background-color: white;
    box-shadow: 1px 2px 10px 1px #888888;
    display: flex;
    float: left;
    margin-right: 50px;
    margin-top: 40px;
    height: 250px;
}

.pagin_sv {
    width: 900px;
    margin: auto;
    padding-top: 20px;
    float: left;
}

.paginate {
    display: flex;
    justify-content: center;
}

.card_sv1 {
    display: flex;
}

.grid_view {
    margin-top: 20px;
    margin-left: 20px;
}

@media screen and (min-width: 395px) and (max-width:414px) {
    .gridview {
        width: 414px;
    }

    .card_sv {
        width: 390px;
        margin-left: 13px;
    }

    .pagin_sv {
        width: 414px;
    }
    .paginate{
        height: 100px;
    }
}

@media screen and (max-width: 375px) and (min-width: 360px) {
    .gridview {
        width: 350px;
    }

    .card_sv {
        width: 340px;
        margin-left: 4px;
    }

    .pagin_sv {
        width: 350px;
    }
    .paginate{
        height: 100px;
    }
}

@media screen and (max-width: 320px) and (min-width: 310px) {
    .gridview {
        width: 280px;
    }

    .card_sv {
        height: 350px;
        width: 280px;
        margin-left: 4px;
    }

    .pagin_sv {
        width: 280px;
    }
    .paginate{
        height: 100px;
    }
}

@media screen and (max-width: 390px) and (min-width:380px) {
    .gridview {
        width: 280px;
    }

    .card_sv {
        height: 350px;
        width: 280px;
        margin-left: 4px;
    }

    .pagin_sv {
        width: 380px;
    }
    .paginate{
        height: 100px;
    }
}

@media screen and (max-width: 395px) and (min-width:390px) {
    .gridview {
        width: 380px;
    }

    .card_sv {
        /* height: 80px; */
        width: 375px;
        margin-left: 5px;
    }

    .pagin_sv {
        width: 380px;
    }
    .paginate{
        height: 100px;
    }
}

@media screen and (max-width:825px) and (min-width:800px) {
    .gridview {
        width: 800px;
    }

    .card_sv {
        /* height: 80px; */
        width: 355px;
        margin-left: 25px;
        margin-right: 5px;
    }

    .pagin_sv {
        width: 800px;
    }
    .paginate{
        height: 100px;
    }
}
@media screen and (max-width:280px) and (min-width:260px){
    .gridview {
        width: 270px;
    }

    .card_sv {
        height: 350px;
        width: 270px;
    }

    .pagin_sv {
        width: 270px;
    }
    .paginate{
        height: 100px;
        width: 270px;
    }
}
@media screen and (min-width:550px)
and (max-width:1200px)
{
    .gridview {
        width: 100%;
        display: grid;
        height: 200%;
        justify-content:unset;
        justify-items: center;
    }

    .card_sv {
        /* margin: auto; */
        /* height: 300px;
        width: 80%;
        float: left; */
        width: 80%;
        margin-right: 0px;
    }

    .pagin_sv {
        display: flex;
        width: 100%;
    }
    .paginate{
        height: 100px;
        width: 100%;
    }
}
